@layer mag_reset, mag_base, mag_tokens, mag_recipes, mag_utilities;

@layer mag_base {
  :root {
    --made-with-panda: '\1f43c';
  }

  *,
  *:before,
  *:after,
  ::backdrop {
    --blur: ;
    --brightness: ;
    --contrast: ;
    --grayscale: ;
    --hue-rotate: ;
    --invert: ;
    --saturate: ;
    --sepia: ;
    --drop-shadow: ;
    --backdrop-blur: ;
    --backdrop-brightness: ;
    --backdrop-contrast: ;
    --backdrop-grayscale: ;
    --backdrop-hue-rotate: ;
    --backdrop-invert: ;
    --backdrop-opacity: ;
    --backdrop-saturate: ;
    --backdrop-sepia: ;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1;
  }

  html {
    font-family: var(--mag-fonts-primary);
  }
}

@layer mag_tokens {
  :where(:root, :host) {
    --mag-font-sizes-7xl: 2.8125rem;
    --mag-font-sizes-6xl: 2.3125rem;
    --mag-font-sizes-5xl: 2.1875rem;
    --mag-font-sizes-4xl: 1.9375rem;
    --mag-font-sizes-3xl: 1.6875rem;
    --mag-font-sizes-2xl: 1.4375rem;
    --mag-font-sizes-xl: 1.1875rem;
    --mag-font-sizes-lg: 1.0625rem;
    --mag-font-sizes-md: 0.9375rem;
    --mag-font-sizes-sm: 0.8125rem;
    --mag-font-sizes-xs: 0.6875rem;
    --mag-font-sizes-2xs: 0.625rem;
    --mag-line-heights-8xl: 3.25rem;
    --mag-line-heights-7xl: 2.75rem;
    --mag-line-heights-6xl: 2.5rem;
    --mag-line-heights-5xl: 2.25rem;
    --mag-line-heights-4xl: 2rem;
    --mag-line-heights-3xl: 1.75rem;
    --mag-line-heights-2xl: 1.5rem;
    --mag-line-heights-xl: 1.375rem;
    --mag-line-heights-lg: 1.25rem;
    --mag-line-heights-md: 1rem;
    --mag-line-heights-sm: 0.75rem;
    --mag-font-weights-regular: 400;
    --mag-font-weights-semi-bold: 600;
    --mag-letter-spacings-normal: 0px;
    --mag-letter-spacings-narrow: -0.1px;
    --mag-letter-spacings-narrower: -0.2px;
    --mag-letter-spacings-narrowest: -0.4px;
    --mag-shadows-none: none;
    --mag-shadows-sm: 0px 1px 3px rgba(51, 51, 51, 0.1), 0px 1px 2px 1px rgba(51, 51, 51, 0.1);
    --mag-shadows-md: 0px 2px 4px rgba(51, 51, 51, 0.1), 0px 4px 8px 2px rgba(51, 51, 51, 0.1);
    --mag-shadows-lg: 0px 4px 8px rgba(51, 51, 51, 0.1), 0px 8px 12px 3px rgba(51, 51, 51, 0.1);
    --mag-shadows-xl: 0px 8px 12px rgba(51, 51, 51, 0.1), 0px 12px 16px 4px rgba(51, 51, 51, 0.1);
    --mag-shadows-2xl: 0px 12px 16px rgba(51, 51, 51, 0.1), 0px 16px 24px 5px rgba(51, 51, 51, 0.1);
    --mag-shadows-inner: inset 0px 0px 1px rgba(51, 51, 51, 0.1), inset 0px 0px 4px 1px rgba(44, 45, 46, 0.1);
    --mag-colors-primary-100: #f8e7f1;
    --mag-colors-primary-200: #ebb7d5;
    --mag-colors-primary-300: #dc7fb4;
    --mag-colors-primary-400: #cc4b90;
    --mag-colors-primary-500: #bd0f72;
    --mag-colors-primary-600: #a20d66;
    --mag-colors-primary-700: #8a0b5c;
    --mag-colors-primary-800: #700951;
    --mag-colors-primary-900: #520743;
    --mag-colors-primary-1000: #340535;
    --mag-colors-secondary-100: #e2f2f1;
    --mag-colors-secondary-200: #b3e3e1;
    --mag-colors-secondary-300: #85d3d1;
    --mag-colors-secondary-400: #5aa7ad;
    --mag-colors-secondary-500: #2f728c;
    --mag-colors-secondary-600: #024d71;
    --mag-colors-secondary-700: #024463;
    --mag-colors-secondary-800: #033b55;
    --mag-colors-secondary-900: #033246;
    --mag-colors-secondary-1000: #032938;
    --mag-colors-neutral-100: #f5f7fa;
    --mag-colors-neutral-200: #d8dde5;
    --mag-colors-neutral-300: #b8bec8;
    --mag-colors-neutral-400: #9ca3ad;
    --mag-colors-neutral-500: #8b939e;
    --mag-colors-neutral-600: #6c727a;
    --mag-colors-neutral-700: #555a61;
    --mag-colors-neutral-800: #43474c;
    --mag-colors-neutral-900: #333333;
    --mag-colors-neutral-1000: #2c2d2e;
    --mag-colors-blue-100: #eaf2fd;
    --mag-colors-blue-200: #bbd5f9;
    --mag-colors-blue-300: #8db9f5;
    --mag-colors-blue-400: #5e9df1;
    --mag-colors-blue-500: #2f80ed;
    --mag-colors-blue-600: #2a73d5;
    --mag-colors-blue-700: #2462b5;
    --mag-colors-blue-800: #1d5094;
    --mag-colors-blue-900: #163f74;
    --mag-colors-blue-1000: #102d53;
    --mag-colors-green-100: #e6f4ec;
    --mag-colors-green-200: #b6e4cd;
    --mag-colors-green-300: #86d5ae;
    --mag-colors-green-400: #55c58f;
    --mag-colors-green-500: #25b570;
    --mag-colors-green-600: #209d61;
    --mag-colors-green-700: #1b8652;
    --mag-colors-green-800: #176e44;
    --mag-colors-green-900: #125735;
    --mag-colors-green-1000: #0d3f26;
    --mag-colors-orange-100: #fef4e6;
    --mag-colors-orange-200: #fddeb5;
    --mag-colors-orange-300: #fcc983;
    --mag-colors-orange-400: #fab352;
    --mag-colors-orange-500: #f99d20;
    --mag-colors-orange-600: #e58d17;
    --mag-colors-orange-700: #ca7c14;
    --mag-colors-orange-800: #965a0d;
    --mag-colors-orange-900: #754406;
    --mag-colors-orange-1000: #542e00;
    --mag-colors-red-100: #fdf2f2;
    --mag-colors-red-200: #f5bfbf;
    --mag-colors-red-300: #ed8c8c;
    --mag-colors-red-400: #e45959;
    --mag-colors-red-500: #dc2626;
    --mag-colors-red-600: #c62222;
    --mag-colors-red-700: #a81d1d;
    --mag-colors-red-800: #8a1818;
    --mag-colors-red-900: #6b1212;
    --mag-colors-red-1000: #4d0d0d;
    --mag-colors-purple-100: #eae2f3;
    --mag-colors-purple-200: #cab7e1;
    --mag-colors-purple-300: #9869d1;
    --mag-colors-purple-400: #7b49b8;
    --mag-colors-purple-500: #683d99;
    --mag-colors-purple-600: #563480;
    --mag-colors-purple-700: #4b2c71;
    --mag-colors-purple-800: #402562;
    --mag-colors-purple-900: #341d53;
    --mag-colors-purple-1000: #291544;
    --mag-colors-royal-100: #edd6e9;
    --mag-colors-royal-200: #d3adcc;
    --mag-colors-royal-300: #ba85b0;
    --mag-colors-royal-400: #a05c93;
    --mag-colors-royal-500: #863376;
    --mag-colors-royal-600: #752c68;
    --mag-colors-royal-700: #652659;
    --mag-colors-royal-800: #541f4b;
    --mag-colors-royal-900: #44193c;
    --mag-colors-royal-1000: #33122e;
    --mag-colors-white: #ffffff;
    --mag-colors-transparent: transparent;
    --mag-colors-black: #000000;
    --mag-radii-sm: 2px;
    --mag-radii-md: 4px;
    --mag-radii-lg: 8px;
    --mag-radii-xl: 12px;
    --mag-radii-full: 50%;
    --mag-borders-1: 1px;
    --mag-borders-2: 2px;
    --mag-sizes-0: 0px;
    --mag-sizes-1: 1px;
    --mag-sizes-2: 2px;
    --mag-sizes-4: 4px;
    --mag-sizes-6: 6px;
    --mag-sizes-8: 0.5rem;
    --mag-sizes-10: 0.625rem;
    --mag-sizes-12: 0.75rem;
    --mag-sizes-16: 1rem;
    --mag-sizes-20: 1.25rem;
    --mag-sizes-24: 1.5rem;
    --mag-sizes-32: 2rem;
    --mag-sizes-40: 2.5rem;
    --mag-sizes-48: 3rem;
    --mag-sizes-64: 4rem;
    --mag-sizes-80: 5rem;
    --mag-sizes-breakpoint-xs: 480px;
    --mag-sizes-breakpoint-sm: 640px;
    --mag-sizes-breakpoint-md: 768px;
    --mag-sizes-breakpoint-lg: 1024px;
    --mag-sizes-breakpoint-xl: 1280px;
    --mag-sizes-breakpoint-2xl: 1536px;
    --mag-sizes-breakpoint-3xl: 1920px;
    --mag-spacing-0: 0px;
    --mag-spacing-1: 1px;
    --mag-spacing-2: 2px;
    --mag-spacing-4: 4px;
    --mag-spacing-6: 6px;
    --mag-spacing-8: 0.5rem;
    --mag-spacing-10: 0.625rem;
    --mag-spacing-12: 0.75rem;
    --mag-spacing-16: 1rem;
    --mag-spacing-20: 1.25rem;
    --mag-spacing-24: 1.5rem;
    --mag-spacing-32: 2rem;
    --mag-spacing-40: 2.5rem;
    --mag-spacing-48: 3rem;
    --mag-spacing-64: 4rem;
    --mag-spacing-80: 5rem;
    --mag-fonts-primary: 'Noto Sans', sans-serif;
    --mag-breakpoints-xs: 480px;
    --mag-breakpoints-sm: 640px;
    --mag-breakpoints-md: 768px;
    --mag-breakpoints-lg: 1024px;
    --mag-breakpoints-xl: 1280px;
    --mag-breakpoints-2xl: 1536px;
    --mag-breakpoints-3xl: 1920px;
  }
}

@layer tokens {
  @keyframes spinning {
    0% {
      transform: rotate(0);
    }

    50% {
      transform: rotate(180deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

/*# sourceMappingURL=index.css.map */
